ellipse:hover{
   fill: #fce57e !important;
 }

 ellipse:hover + text{
   font-size: 40px !important;
   transform: translate(0, -10px);
 }


ellipse{
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
text{
  transition: all 1s;
  font-size: 15px !important;
}
